.title {
  text-align: center;
}

.non-expired {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f4ef;
  height: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
  flex-direction: row;
  margin: 3em;
}
